.jumbotron {
    position: relative;
}

h1 {
    background-color: rgba(255, 255, 255, 0.65);
    color: rgba(50, 50, 50, .75);
    position: absolute;
    top: calc(50% - .75em);
}

.bg-blue {
    background-color: #ddedf6;
}

.text-blue {
    color: #6c92aa;
}

label {
    color: #6c92aa;

}

.list-group-item {
    background-color: #ddedf6;

}

.card-border-secondary {
    border-color: #c8e8f0;
}

.btn-primary {
    background-color: #4679b2;
}
