body {
    margin: 0 auto;
}


/*Create a file named grid-layout.html and a file named grid-layout.css.*/
/*Make sure your page uses border-box sizing.*/
.container {
    margin: 0 auto;
    width: 100%;
}

/*Build your own grid layout using the examples above.*/

.row {
    width:100%;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: 1em 0;
}


/*Create column class for one-half, one-third, one-fourth, one-sixth and one-eighth.*/

.column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    /*border: 1px solid black;*/
    /*background-color: darkgray;*/

}

.one {
    width: 100%;
}

.one-half {
    width: 50%;

}

.one-third {
    width: 33.33%;

}

.one-fourth{
    width: 25%;

}

.one-sixth {
    width: 16.67%;

}

.one-eighth {
    width: 12.5%;

}
.one-twelfth {
    width: 8.333%;
}
.two-third {
    width: 66.667%;
}

.three-eighth {
    width: 37.5%;
}

.three-fourths {
    width: 75%;
}

.five-sixths {
    width: 83.333%;
}

/*@media screen and (max-width:400px) {*/
    /*.one-half, .one-third, .one-fourth, .one-sixth, .one-eigth{*/
        /*width: 100%;*/
    /*}*/

/*}*/
@media only screen and (max-width: 500px) {
    /* For mobile phones: */


    [class*="one-"]{
        width: 100%;
    }

    [class*="two-"]{
        width: 100%;
    }

    [class*="three-"]{
        width: 100%;
    }
    [class*="five-"]{
        width: 100%;
    }

    footer>.one-half {
    !important;width: 50%;
    }


}
/*Add the necessary CSS so that your columns take up the full width on small screens.*/
/*Add borders and background colors to your column classes so that you can see the difference between each class.*/
/*Have at least one row that includes three different column classes*/