body {
    font-family: sans-serif;
}

/*img{*/
    /*width: 100%;*/
    /*clear: both;*/
/*}*/

.header-img {
    /*!*margin-bottom: 2em;*!*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*!*clear: both;*!*/

}
h2 {
    /*margin-top: 0;*/
    /*margin-bottom: 1em;*/
}

#social-media-links li{
    list-style-type: none;
    display: inline-block;
    float: right;
}

a{
    color: #3947e8;
}
footer {
    font-size: smaller;
    clear: both;
}

footer>p {
    float: left;
    /*padding-left: .5em;*/
}


/*Styling for small screens*/
@media screen and (max-width:499px){

.alert-info {
    background-color: #d6fefe;
    border: 1px solid #cdd2d2;
    text-align: center;
    padding: 1em .5em;
    margin: none;
}
.alert-info>a{
    text-decoration: none;
    color: #000;
    font-size: x-small;
}
body {
    font-size: x-small;
}
h1 {
    text-align: center;
    /*margin-bottom: 2em;*/
}

.nav-links{
    list-style-type: none;
    padding: 0;
    font-size: small;
}

li {
    background-color: #cccccc;
    text-align: center;
    margin: 1em 0;
    padding: 1em 0;
    font-weight: bold;
}

.main{
    padding: 1em 0;
    margin: none;
}

.sub-section{
    padding: 1em 0;
    font-style: italic;
    margin: none;
}

img {
    /*width: 339px;*/
    /*height: 224px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding-left: .5em;*/

}

}

/*Styling for large screens*/
@media screen and (min-width:500px) {

    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        float: right;
        list-style-type: none;
        margin-bottom: 2em;
        padding-top: 2em;
    }

    h1 {
        float: left;
        margin-top: 1em;
        padding-left: .5em;
        margin-bottom: 2em;
    }

    li {
        display: inline-block;
        padding: .5em;
        font-size: small;
        background-color: transparent;
    }

    .main {
        /*width: calc(55% - 1em);*/
        float: left;
        padding: 1em;
        overflow: auto;
        margin: 0 0 2em 0;
        padding: 1em;
    }

    .sub-section {
        /*width: calc(40% - 1em);*/
        float: right;
        padding: 1em;
        overflow: auto;
        font-style: italic;
        margin: 0 0 2em 0;
    }
    .sub-section p {
        margin-top: 0;

    }
    .main p {
        margin-top: 0;
    }
    img {
        /*width: 890px;*/
        /*height: 385px;*/
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        /*padding-left: .5em;*/
    }

    .header-img {
        padding: 0;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*display: block;*/
        /*clear: both;*/

    }

}
