body {
    width: 95%;
    margin: 2em;
    font-family: Futura;
    background-color: #a5966a;
}
header {
    text-align: center;
    margin-bottom: 1em;
}
body>div {
    background-color: rgba(242, 245, 215, 0.57);
    border: .2em solid black;
    padding: .5em;
}
header p{
    margin: 0 auto;
    border: none;
    padding: none;
}
hr {
    border-color: rgba(44, 43, 41, 0.72);
}
h1 {
    margin-bottom: .5em;
    font-size: xx-large;
}
a:link {
    color: #0000FF;
    font-style: normal;
}
a:visited {
    color: #4b4b4b;
    font-style: normal;
}
a:hover {
    color: #FF0000;
    font-style: italic;
}
ul {
    list-style: square;
}
.list1 {
    float: left;
    margin-top: 5px;
    width: 25%;
    height: 100%;
}
.list2 {
    float: left;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.clear {
    clear: left;
}

strong {
    text-decoration: underline;
    font-size: large;
}

.no-margin {
    margin: 0 auto;
}

.top-margin {
    margin-top: 1em;
    margin-bottom: 0;
}

.bottom-margin {
    margin-bottom: 1em;
    margin-top: 0;
}

